public/data/youtube-transcript.json
{
  "name": "YouTube Transcript Extraction Workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "channelId": "={{ $json.channelId }}",
        "returnAll": true,
        "filters": {
          "order": "date"
        },
        "options": {}
      },
      "name": "YouTube",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [400, 300],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "1",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [600, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "videoId": "={{ $json.id }}",
        "options": {
          "language": "en"
        }
      },
      "name": "Get Transcript",
      "type": "n8n-nodes-base.youtubeTranscript",
      "position": [800, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "videoId"
            }
          ]
        },
        "options": {}
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [1000, 300],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "stringify",
        "path": "transcript",
        "options": {}
      },
      "name": "Clean Transcript",
      "type": "n8n-nodes-base.set",
      "position": [1200, 300],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "append",
        "file": "/data/transcripts/{{ $json.id }}.txt",
        "options": {}
      },
      "name": "Write File",
      "type": "n8n-nodes-base.writeFile",
      "position": [1400, 300],
      "typeVersion": 2
    }
  ],
  "connections": {
    "YouTube": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Get Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clean Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Transcript": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
} 